# Ignore build outputs
build/
dist/
coverage/

# Ignore third-party dependencies
node_modules/

# Ignore specific file extensions
*.min.js
*.html

# Ignore environment variables
.env

# Ignore test input maps
src/__tests__/maps/**

# I want my tab aligned walls.
src/utils/surface.ts